@media  (min-width: 320px) and (max-width: 479px) {
    .herbyCookieConsent {
        margin-left: 0 !important;
        height: 19rem;
        width: 100% !important;
    }
    .herbyCookieConsent .herbyBtn, .herbyBtn2{
        margin-bottom: 1rem;
    }

    #btn-connexion{ z-index: 999;}
    .bloc-registration{z-index: 1;}

    .dropdown-messages{position: absolute !important; left: -10rem !important;}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .light-logo,.dark-logo{width : 6rem;}
    .carousel{margin-top: 3rem;}
    #home{height: 16rem;}
    .mission-content{height: auto!important;}

    .bloc-login-registration {
        margin-left: -5%;
        font-size: 1.2rem;
        padding-top: 0.3rem;
    }
    .bloc-login-registration ul {font-size: 1rem; text-align: left!important;}
    .bloc-registration{margin-top: -1.7rem;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}