/***********************
Apartment HTML Site Template
Author: Jan Skwara - http://themeforest.net/user/johnnychaos
***********************/



/****************************************************************************/
/*********************************| FONT ICONS |*****************************/
/****************************************************************************/



@font-face {
    font-family: 'apartment-font';
		src: url('../apartment-font/fonts/apartment-font965a.eot?15621650');
		src: url('../apartment-font/fonts/apartment-font965a.eot?15621650#iefix') format('embedded-opentype'),
             url('../apartment-font/fonts/apartment-font965a.woff?15621650') format('woff'),
             url('../apartment-font/fonts/apartment-font965a.ttf?15621650') format('truetype'),
             url('../apartment-font/fonts/apartment-font965a.svg?15621650#apartment-font') format('svg');
     font-weight: normal;
     font-style: normal;
}

.jfont {
	font-family: "apartment-font";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: none;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-sm {
	font-size: 0.8em;
	vertical-align: 15%;
}

textarea,
input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
	outline: none; 
}



/****************************************************************************/
/*****************************| MAIN LAYOUT STYLES |*************************/
/****************************************************************************/


.loader-bg {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 10000;
}

a {
	outline: 0 !important;
    text-decoration: none;
}

a:focus,
a:active {
	text-decoration: none;
}

#wrapper {
	margin: auto;
	width: 100%;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition:    all .2s ease-in-out;
	-ms-transition:     all .2s ease-in-out;
	-o-transition:      all .2s ease-in-out;
	transition:         all .2s ease-in-out;
}

#wrapper.boxed {
	overflow: hidden;
}

.boxed {
	max-width: 1230px;
}

p.lead {
	font-weight: bold;
	font-size: 1.38em;
}

.centered-text {
	text-align: center;
}

section.adv-search-section {
	overflow: visible;
}

.top-padding-45 {
	padding-top: 45px;
}

.bottom-padding-45 {
	padding-bottom: 45px;
}

.no-top-padding {
	padding-top: 0;
}

.no-bottom-padding {
	padding-bottom: 0;
}

.no-padding {
	padding: 0;
}

.section-top-shadow {
	-webkit-box-shadow: 0px -10px 10px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    0px -10px 10px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         0px -10px 10px 0px rgba(0, 0, 0, 0.35);
	position: relative;
	z-index: 100;
}

.section-bottom-shadow {
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    0px 10px 10px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         0px 10px 10px 0px rgba(0, 0, 0, 0.35);
	position: relative;
	z-index: 100;
}

.section-both-shadow {
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 0.35);
	position: relative;
	z-index: 100;
}

section.short-image {
	height: 202px;
	background-size: 100% auto;
}



/****************************************************************************/
/*********************************| HEADER |*********************************/
/****************************************************************************/
/****************************************************************************/
/*********************************| SLIDER |*********************************/
/****************************************************************************/



#swiper1 {
    width: 100%;
}   

#swiper2 {
    width: 100%;
}   

#swiper1 .swiper-slide {
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;   
}

#swiper2 .swiper-slide {
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;   
}

#swiper1 .video-slide {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	overflow: hidden;
}

#swiper2 .video-slide {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}

html.mobile #swiper1 .video-slide {
	display: none;
}

html.mobile #swiper2 .video-slide {
	display: none;
}

#swiper1 .video-slide video {
	min-width: 100%;
	min-height: 100%;
	margin: auto;
	position: absolute;
	top: 50%;	
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

#swiper2 .video-slide video {
	min-width: 100%;
	min-height: 100%;
	margin: auto;
	position: absolute;
	top: 50%;	
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

#swiper1 .container {
	position: relative;
	z-index: 20;
	top: 160px;
}


.slide-desc-col {
	opacity: 0;
	bottom: 0;
	position: relative;
}

html.ie9 .slide-desc-col {
	opacity: 1;
}

.slide-desc {
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 0.35);
	position: relative;
	z-index: 20;
}


.slide-desc-text {
	padding: 30px 30px 26px 30px;
}

.slide-desc h4 {
	text-transform: none;
	display: block;
	float: left;
	line-height: 24px;
	padding-left: 15px;
}

.slide-desc-text p {
	padding-top: 22px;
	margin-bottom: 0;
}

.slide-desc-params  {
	float:left;
	width: 100%;
	padding-left: 15px;
	padding-right: 150px;
	overflow: hidden;
	white-space: nowrap;
}

.slide-desc-price  {
	position: absolute;
	width: 150px;
	right: 0;
	min-height: 50px;
	font-size: 1.54em;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
}

.slide-desc-area, 
.slide-desc-rooms, 
.slide-desc-baths,  
.slide-desc-parking {
	float: left;
	min-height: 50px;
	font-size: 1.08em;
	font-weight: bold;
	line-height: 50px;
}

.slide-desc-area {
	width: 31%;
}

.slide-desc-rooms, 
.slide-desc-baths, 
.slide-desc-parking {
	width: 23%;
}

.slide-desc-params img {
	margin: 0 15px 0 15px;
}

.slide-buttons {
	width: 150px;
	height: 50px;
	top: -2px;
	position: relative;
	z-index: 10;
}

html.ie9 .slide-buttons {
	width: 50px;
}

.slide-buttons-right {
	float: right;
}

.slide-buttons-left {
	float: left;
}

.slide-buttons-center {
	margin-left: auto;
	margin-right: auto;
}

#swiper2 .slide2-desc {
	text-align: center;
	z-index: 1;
}

.slide2-desc {
	opacity: 0;
}

html.ie9.slide2-desc {
	opacity: 1;
}

#swiper2 .container {
	margin-top: 0;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
    z-index: 2;
}

#swiper2 .swiper2-static-cont {
	top: 0;
	-ms-transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	transform: none;
}

#swiper2 .swiper2-navigation {
	top: 50%;
	left: 50%;
	position: absolute;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

#swiper2 .swiper2-static-desc {
	position: absolute;
}

#swiper2 .slide-prev {
	float: left;
}

html.ie9 .slide-prev,
html.ie9 .slide-next,
html.ie9 #swiper2 .swiper2-static-cont .slide-buttons {
	display: none;
}

.swiper2-text {
	padding-top: 8px;
}

.swiper2-buttons {
	height: 50px;
}

.swiper2-buttons .button-primary,
.swiper2-buttons .button-secondary,
.swiper2-buttons .button-alternative,
.swiper2-buttons .button-fourth {
	margin: 0 15px 0 15px;
}

.swiper2-price-button {
	height: 50px;
	line-height: 50px;
	padding: 0 50px 0 50px;
	font-size: 1.54em;
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	margin: 0 15px 10px 15px;
}

.slider-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.45;
	z-index: 1;
}

.shedule {
	height: 48px;
	float: left;
	line-height: 48px;
	text-transform: uppercase;
	padding: 0 30px 0 30px;
	font-size: 1.38em;
	font-weight: bold;
	display: block;
}

.shedule:hover,
.shedule:active,
.shedule:focus {
	text-decoration: none;
}


.adv-search-outer {
	padding: 0 30px 0 30px;
}

.tab-content {
	margin: 0px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 0.35);
	position: relative;
	z-index: 15;
}

#adv-search-hide {
	float: right;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	margin-top: 18px;
	display: block;
	text-decoration: none;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition:    all .5s ease-in-out;
	-ms-transition:     all .5s ease-in-out;
	-o-transition:      all .5s ease-in-out;
	transition:         all .5s ease-in-out;
}

.adv-search-hide-rotate {
	-ms-transform: rotate(180deg); 
    -webkit-transform: rotate(180deg); 
    transform: rotate(180deg);
}

#adv-search-hide i.jfont {
	line-height: 50px;	
	vertical-align: -5%;
	margin: auto;
	font-size: 1.2em;
}

.adv-search-cont {
	bottom: 45px;
	position: absolute;
	z-index: 150;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition:    all .5s ease-in-out;
	-ms-transition:     all .5s ease-in-out;
	-o-transition:      all .5s ease-in-out;
	transition:         all .5s ease-in-out;
	left: 50%;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.adv-search-section .adv-search-cont {
	opacity: 0.9;	
}

.adv-search-section .adv-search-cont:hover {
	opacity: 1;	
}

.adv-search-tabs {
	margin: 0px;
	padding: 0px;
	border: none;
}

.adv-search-tabs li {
	height: 69px;
	width: 69px;
}

.adv-search-tabs li.active::after, 
.adv-search-tabs li:hover::after  {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	content: "";
	bottom: 0;
	left: 50%;
	position: absolute;
	z-index: 11;
	margin-left: -10px;
}

.adv-search-tabs li a {
    border: none !important;
    border-radius: 0 !important;
    margin-right: 0;
	display: block;
	height: 69px;
	width: 69px;
	position: relative;
	text-align: center;
	line-height: 69px;
	outline: none;
}

.adv-search-tabs li a img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;	
	transform: translate(-50%,-50%);	
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.adv-search-tabs > li > a > i.fa {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);	
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

#adv-search-tab1 i.fa {
	font-size: 2.3em;
	margin-left: 2px;
}

#adv-search-tab2 i.fa {
	font-size: 2.7em;
}

#adv-search-tab3 i.fa {
	font-size: 2.0em;
}

#adv-search-tab4 i.fa {
	font-size: 2.2em;
}

.adv-search-col-cont1, 
.adv-search-icons {
	padding-right: 0px;
}

.adv-search-col-cont2, 
.adv-search-col-cont3 {
	padding-right: 0px;
	padding-left: 0px;
}

.adv-search-col-cont4 {
	padding-left: 0px;
}


/* html select */


.tab-pane .cs-select,
.tab-pane .bootstrap-select {
	margin-top: 45px;
}

.tab-pane .bootstrap-select.short-margin {
	margin-top: 30px;
}

.tab-pane select {
	opacity: 0;
}

div.cs-skin-border {
	font-weight: 700;
}

.cs-skin-border > span {
	-webkit-transition: background 0.2s, border-color 0.2s;
	transition: background 0.2s, border-color 0.2s;
	height: 50px;
	padding: 15px;
}

.cs-skin-border > span::after,
.cs-skin-border .cs-selected span::after {
	content: 'more';
	right: 0;
    width: 50px;
}

.cs-skin-border ul span::after {
	content: '•';
	opacity: 0;
}

.cs-skin-border .cs-selected span::after {
	content: 'more';
	background: none;
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.cs-skin-border .cs-options {
	opacity: 0;
	-webkit-transition: opacity 0.2s, visibility 0s 0.2s;
	transition: opacity 0.2s, visibility 0s 0.2s;
	min-width: 100%;
    width: auto;
}

.cs-skin-border.cs-active .cs-options {
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.cs-skin-border ul span {
	padding: 15px 30px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100%;
}

.bootstrap-select .btn {
	border-radius: 0;
	height: 50px;
	font-weight: 700;
	outline: none;
}

.bootstrap-select .dropdown-menu > li > a {
	font-size: 13px;
	font-weight: 500;
	padding: 13px 40px 13px 20px;
}

.bootstrap-select .glyphicon {
	padding-top: 8px;
}

.bootstrap-select.btn-group .dropdown-toggle .caret  {
	border: none;
	width: 50px;
	height: 23px;
	right: 0;
	top: 13px;
	margin-top: 0;
}

.bootstrap-select .btn-default.active, 
.bootstrap-select .btn-default:active, 
.bootstrap-select .btn-default:focus, 
.bootstrap-select.open > .dropdown-toggle.btn-default {
	box-shadow: none;
}

.bootstrap-select .dropdown-menu {
	box-shadow: none;
	left: 1px;
	margin: 0;
}

.form-control {
    margin-top: 5px;
    border-radius: 0px;
}

.bootstrap-select .dropdown-menu a {
	background: none;
}

.bootstrap-select .dropdown-toggle:focus {
	outline-offset: 0;
	outline: none !important;
}

.btn-group.bootstrap-select .dropdown-toggle .filter-option {
	height: 38px;
	line-height: 38px;
}
	
/* html slider */


.slider-range {
	border-radius: 0;
	height: 3px;
	border: none;
	margin: 15px 14px 0 9px;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    inset 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
	box-shadow:         inset 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
}

.ui-slider-range {
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	box-shadow:         inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}


.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
.ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus {
	-webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 1px 6px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 1px 6px 0px rgba(0, 0, 0, 0.5);	
	cursor: pointer;
	outline: none;
}

.ui-slider-horizontal .ui-slider-handle {
	border-radius: 50%;
	width: 22px;
	height: 22px;
	top: -10px;
}

.adv-search-amount {
	border:0; 
	text-align: right; 
	float: right;
	font-size: 1.08em;
	display: block;
	width: 48%;
}

.adv-search-label {
	font-size: 1.08em;
	float: left;
	width: 43%;
}

.adv-search-range-cont {
	padding: 23px 0 55px 0;
}

.adv-search-range-cont span {
	display: block;
	float: right;
	padding: 1px 0 0 5px;
}

.button-primary,
.button-primary:active,
.button-primary:focus  {
	height: 50px;
	line-height: 50px;
	padding: 0 73px 0 30px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 1.08em;
	letter-spacing: 1px;
	position: relative;
	overflow: hidden;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition:    all .5s ease-in-out;
	-ms-transition:     all .5s ease-in-out;
	-o-transition:      all .5s ease-in-out;
	transition:         all .5s ease-in-out;
	white-space: nowrap;
	
}

.button-full {
	text-align: center;
	width: 100%;
}

.button-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 50px 50px;
	position: absolute;
	bottom: 0;
	right: 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition:    all .5s ease-in-out;
	-ms-transition:     all .5s ease-in-out;
	-o-transition:      all .5s ease-in-out;
	transition:         all .5s ease-in-out;
}

.button-triangle2 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 0px 0px;
	position: absolute;
	bottom: 0;
	right: 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition:    all .5s ease-in-out;
	-ms-transition:     all .5s ease-in-out;
	-o-transition:      all .5s ease-in-out;
	transition:         all .5s ease-in-out;
}

.button-primary:hover {
	text-decoration: none;
}

.button-primary:hover .button-triangle  {
	border-width: 0 0 400px 400px;
}

.button-primary:hover .button-triangle2  {
	border-width: 0 0 50px 50px;
}

.button-primary span {
	position: relative;	
	z-index: 10;
}

.button-icon {
	width: 34px;
	height: 34px;
	border-radius: 50%;
	position: absolute;
	bottom: 8px;
	right: 8px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	-webkit-transition: all .5s ease-in-out;
	-moz-transition:    all .5s ease-in-out;
	-ms-transition:     all .5s ease-in-out;
	-o-transition:      all .5s ease-in-out;
	transition:         all .5s ease-in-out;
}

.button-icon i.fa {
	line-height: 34px;
	display: block;
	text-align: center;
}

.button-icon i.jfont {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);	
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	margin: 0;	
}

.navigation-box {
	float: right;
	width: 50px;
	height: 50px;
	line-height: 50px;
	position: relative;
	display: block;
	overflow: hidden;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition:    all .5s ease-in-out;
	-ms-transition:     all .5s ease-in-out;
	-o-transition:      all .5s ease-in-out;
	transition:         all .5s ease-in-out;
}

.navigation-box2 {
	float: right;
	width: 50px;
	height: 50px;
	line-height: 50px;
	position: relative;
	display: block;
	overflow: hidden;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition:    all .5s ease-in-out;
	-ms-transition:     all .5s ease-in-out;
	-o-transition:      all .5s ease-in-out;
	transition:         all .5s ease-in-out;
}

.navigation-box2.navigation-box-prev {
		margin-right: -1px;
}

.navigation-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 0px 0px;
	position: absolute;
	bottom: 0;
	right: 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition:    all .5s ease-in-out;
	-ms-transition:     all .5s ease-in-out;
	-o-transition:      all .5s ease-in-out;
	transition:         all .5s ease-in-out;
	z-index: 10;
}

.navigation-box:hover .navigation-triangle {
	border-width: 0 0 100px 100px;
}

.navigation-box2:hover .navigation-triangle {
	border-width: 0 0 100px 100px;
}

.navigation-box-icon {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 20;
	text-align: center;
	line-height: 50px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition:    all .5s ease-in-out;
	-ms-transition:     all .5s ease-in-out;
	-o-transition:      all .5s ease-in-out;
	transition:         all .5s ease-in-out;
}

.navigation-box-icon2 {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 20;
	text-align: center;
	line-height: 50px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition:    all .5s ease-in-out;
	-ms-transition:     all .5s ease-in-out;
	-o-transition:      all .5s ease-in-out;
	transition:         all .5s ease-in-out;
}

.navigation-box2.secondary .navigation-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 0px 0px;
}

.navigation-box2.secondary:hover .navigation-triangle {
	border-width: 0 0 100px 100px;
}

.navigation-box-more .navigation-box-icon i.jfont {
	font-size: 1.66666em;
    vertical-align: -17%;
}

.simple-search-cont {
	width: 100%;
	height: 70px;
	padding: 10px;
	bottom: 45px;
	position: absolute;
	z-index: 150;
	margin-left: -15px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 0.35);
}

.simple-search-cont .cs-select {
	width: 190px;
	position: absolute;
	left: 10px;
	top: 10px;
}

.simple-search-cont .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 190px;
	position: absolute;
	left: 10px;
	top: 10px;
	
}

.simple-search-cont .bootstrap-select .btn,
.simple-search-cont .bootstrap-select .btn-default.active, 
.simple-search-cont .bootstrap-select .btn-default:active, 
.simple-search-cont .bootstrap-select .btn-default:focus, 
.simple-search-cont .bootstrap-select.open > .dropdown-toggle.btn-default {
	border: none !important;
}

.simple-search-cont .cs-skin-border > span {
	border: none !important;
	padding-left: 30px;
}

.simple-search-cont .cs-skin-border > span::after,
.simple-search-cont .cs-skin-border .cs-selected span::after {
	color: rgba(0,0,0,0);
	content: 'more';
	right: 0;
    width: 50px;
}

.simple-search-cont .cs-skin-border > span::before {
	content: ' ';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 0 25px 8px;
    left: 0;
    position: absolute;
    top: 0;
}

.simple-search-cont span.filter-option::before {
	content: ' ';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 0 25px 8px;
    left: 0;
    position: absolute;
    top: 0;
}

.simple-search-cont .bootstrap-select .btn {
	padding-left: 30px;
}
input.simple-search-input {
	height: 50px;
	border: 0px;
	line-height: 40px;
	padding: 0 170px 0 210px;
	font-size: 1.08em;
	font-weight: bold;
	position: absolute;
	left: 10px;
	width: 90%;
}

input.simple-search-input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: normal !important;
}
input.simple-search-input::-moz-placeholder {
	font-style: italic;
	font-weight: normal !important;
}
input.simple-search-input:-moz-placeholder {   /* Older versions of Firefox */
	font-style: italic;
	font-weight: normal !important;
}
input.simple-search-input:-ms-input-placeholder { 
	font-style: italic;
	font-weight: normal !important;
}



